VideoStore.WebClient/Service References/CatalogueService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/VideoStore.Business.Entities" />
  <xs:element name="GetMediaItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pOffset" type="xs:int" />
        <xs:element minOccurs="0" name="pCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VideoStore.Business.Entities" minOccurs="0" name="GetMediaItemsResult" nillable="true" type="q1:ArrayOfMedia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VideoStore.Business.Entities" minOccurs="0" name="GetMediaByIdResult" nillable="true" type="q2:Media" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>