Bank.Business/Bank.Business.Components/Service References/NotificationService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DeliveryCo.Business.Entities" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Bank.Business.Entities" />
  <xs:element name="NotifyDeliveryCompletion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pDeliveryId" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DeliveryCo.Business.Entities" minOccurs="0" name="pStatus" type="q2:DeliveryStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyBankTransactionCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pOrderNumber" type="q3:guid" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Bank.Business.Entities" minOccurs="0" name="pOperationOutcome" type="q4:OperationOutcome" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>